solutions/WAA/source_gen/WAA/specifications/WAA.specifications transactionkind afwijzen van het verzoek.json
{
  "Comment": "Model of transactionkindafwijzen van het verzoek",
  "StartAt": "initial indienen verzoek aanpassing arbeidsduur",
  "States": {
    "TrueChoiceFor request afwijzen van het verzoek": {
      "Comment": "rq afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor decline afwijzen van het verzoek": {
      "Comment": "dc afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor state afwijzen van het verzoek": {
      "Comment": "st afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor reject afwijzen van het verzoek": {
      "Comment": "rj afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor request afwijzen van het verzoek": {
      "Comment": "rq afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor decline afwijzen van het verzoek": {
      "Comment": "dc afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor state afwijzen van het verzoek": {
      "Comment": "st afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor reject afwijzen van het verzoek": {
      "Comment": "rj afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "request afwijzen van het verzoek": {
      "Comment": "rq afwijzen van het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "decline afwijzen van het verzoek": {
      "Comment": "dc afwijzen van het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "state afwijzen van het verzoek": {
      "Comment": "st afwijzen van het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "reject afwijzen van het verzoek": {
      "Comment": "rj afwijzen van het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "promiss afwijzen van het verzoek": {
      "Comment": "pm afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "execute afwijzen van het verzoek": {
      "Comment": "ex afwijzen van het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "accept afwijzen van het verzoek": {
      "Comment": "ac afwijzen van het verzoek",
      "Type": "Succeed",
      "End": true
    }
  }
}