solutions/WAA/source_gen/WAA/specifications/WAA.specifications transactionkind afwijzen van het verzoek.json
{
  "Comment":"Model of transactionkindafwijzen van het verzoek",
  "StartAt":"initial indienen verzoek aanpassing arbeidsduur",
  "States":{
    "TrueChoiceFor request afwijzen van het verzoek":{
      "Comment":"rq afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"promiss afwijzen van het verzoek"
    },
    "TrueChoiceFor decline afwijzen van het verzoek":{
      "Comment":"dc afwijzen van het verzoek",
      "Type":"Pass",
      "Next":""
    },
    "TrueChoiceFor state afwijzen van het verzoek":{
      "Comment":"st afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"accept afwijzen van het verzoek"
    },
    "TrueChoiceFor reject afwijzen van het verzoek":{
      "Comment":"rj afwijzen van het verzoek",
      "Type":"Pass",
      "Next":""
    },
    "FalseChoiceFor request afwijzen van het verzoek":{
      "Comment":"rq afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"decline afwijzen van het verzoek"
    },
    "FalseChoiceFor decline afwijzen van het verzoek":{
      "Comment":"dc afwijzen van het verzoek",
      "Type":"Pass",
      "Next":""
    },
    "FalseChoiceFor state afwijzen van het verzoek":{
      "Comment":"st afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"reject afwijzen van het verzoek"
    },
    "FalseChoiceFor reject afwijzen van het verzoek":{
      "Comment":"rj afwijzen van het verzoek",
      "Type":"Pass",
      "Next":""
    },
    "request afwijzen van het verzoek":{
      "Comment":"rq afwijzen van het verzoek",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor request afwijzen van het verzoek"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor request afwijzen van het verzoek"
        }
      ]
    },
    "decline afwijzen van het verzoek":{
      "Comment":"dc afwijzen van het verzoek",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor decline afwijzen van het verzoek"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor decline afwijzen van het verzoek"
        }
      ]
    },
    "state afwijzen van het verzoek":{
      "Comment":"st afwijzen van het verzoek",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor state afwijzen van het verzoek"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor state afwijzen van het verzoek"
        }
      ]
    },
    "reject afwijzen van het verzoek":{
      "Comment":"rj afwijzen van het verzoek",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor reject afwijzen van het verzoek"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor reject afwijzen van het verzoek"
        }
      ]
    },
    "promiss afwijzen van het verzoek":{
      "Comment":"pm afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"execute afwijzen van het verzoek"
    },
    "execute afwijzen van het verzoek":{
      "Comment":"ex afwijzen van het verzoek",
      "Type":"Pass",
      "Next":"state afwijzen van het verzoek"
    },
    "accept afwijzen van het verzoek":{
      "Comment":"ac afwijzen van het verzoek",
      "Type":"Pass",
      "End":true
    }
  }
}