solutions/WAA/source_gen/WAA/specifications/WAA.specifications transactionkind inwilligen verzoek aanpassing arbeidsduur.json
{
  "Comment": "Model of transactionkindinwilligen verzoek aanpassing arbeidsduur",
  "StartAt": "initial indienen verzoek aanpassing arbeidsduur",
  "States": {
    "TrueChoiceFor request inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rq inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor decline inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "dc inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor promiss inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "pm inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor state inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "st inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor reject inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rj inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor request inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rq inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor decline inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "dc inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor promiss inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "pm inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor state inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "st inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor reject inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rj inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "request inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rq inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "decline inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "dc inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "promiss inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "pm inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "state inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "st inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "reject inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "rj inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "accept inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "ac inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "execute inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "ex inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "accept inwilligen verzoek aanpassing arbeidsduur": {
      "Comment": "ac inwilligen verzoek aanpassing arbeidsduur",
      "Type": "Succeed",
      "End": true
    },
    "startT5": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartStateMachine",
        "stateMachineArn": "arn:aws:states:us-east-1:123456789012:execution:T5"
      },
      "End": false,
      "Next": ""
    },
    "startT6": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartStateMachine",
        "stateMachineArn": "arn:aws:states:us-east-1:123456789012:execution:T6"
      },
      "End": false,
      "Next": ""
    }
  }
}