solutions/WAA/classes_gen/WAA/specifications/WAA.specifications transactionkind verzoek aanpassing arbeidsduur te bespreken.json
{
  "Comment":"Model of transactionkindverzoek aanpassing arbeidsduur te bespreken",
  "StartAt":"initial indienen verzoek aanpassing arbeidsduur",
  "States":{
    "TrueChoiceFor request verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rq verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"promiss verzoek aanpassing arbeidsduur te bespreken"
    },
    "TrueChoiceFor decline verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"dc verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":""
    },
    "TrueChoiceFor state verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"st verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"accept verzoek aanpassing arbeidsduur te bespreken"
    },
    "TrueChoiceFor reject verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rj verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":""
    },
    "FalseChoiceFor request verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rq verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"decline verzoek aanpassing arbeidsduur te bespreken"
    },
    "FalseChoiceFor decline verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"dc verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":""
    },
    "FalseChoiceFor state verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"st verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"reject verzoek aanpassing arbeidsduur te bespreken"
    },
    "FalseChoiceFor reject verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rj verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":""
    },
    "request verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rq verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor request verzoek aanpassing arbeidsduur te bespreken"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor request verzoek aanpassing arbeidsduur te bespreken"
        }
      ]
    },
    "decline verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"dc verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor decline verzoek aanpassing arbeidsduur te bespreken"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor decline verzoek aanpassing arbeidsduur te bespreken"
        }
      ]
    },
    "state verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"st verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor state verzoek aanpassing arbeidsduur te bespreken"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor state verzoek aanpassing arbeidsduur te bespreken"
        }
      ]
    },
    "reject verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"rj verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$truthvalue",
          "BooleanEquals":false,
          "Next":"TrueChoiceFor reject verzoek aanpassing arbeidsduur te bespreken"
        },
        {
          "Variable":"$truthvalue",
          "StringEquals":true,
          "Next":"FalseChoiceFor reject verzoek aanpassing arbeidsduur te bespreken"
        }
      ]
    },
    "accept verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"ac verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"beslissen op het verzoek aanpassing arbeidsduur"
    },
    "promiss verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"pm verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"execute verzoek aanpassing arbeidsduur te bespreken"
    },
    "execute verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"ex verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "Next":"state verzoek aanpassing arbeidsduur te bespreken"
    },
    "accept verzoek aanpassing arbeidsduur te bespreken":{
      "Comment":"ac verzoek aanpassing arbeidsduur te bespreken",
      "Type":"Pass",
      "End":true
    }
  }
}