solutions/WAA/classes_gen/WAA/specifications/WAA.specifications transactionkind verzoeken om aanpassing van de arbeidsduur.json
{
  "Comment": "Model of transactionkindverzoeken om aanpassing van de arbeidsduur",
  "StartAt": "initial indienen verzoek aanpassing arbeidsduur",
  "States": {
    "initial indienen verzoek aanpassing arbeidsduur": {
      "Comment": "in verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor indienen van het verzoek aanpassing arbeidsduur": {
      "Comment": "rq verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor niet accepteren van het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "dc verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor accepteren van het verzoek aanpassing arbeidsduur": {
      "Comment": "pm verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor mededelen van de beslissing op het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "st verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor niet accepteren van de beslissing op verzoek aanpassing arbeidsduur": {
      "Comment": "rj verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor indienen van het verzoek aanpassing arbeidsduur": {
      "Comment": "rq verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor niet accepteren van het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "dc verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor accepteren van het verzoek aanpassing arbeidsduur": {
      "Comment": "pm verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor mededelen van de beslissing op het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "st verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor niet accepteren van de beslissing op verzoek aanpassing arbeidsduur": {
      "Comment": "rj verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "indienen van het verzoek aanpassing arbeidsduur": {
      "Comment": "rq verzoeken om aanpassing van de arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "niet accepteren van het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "dc verzoeken om aanpassing van de arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "accepteren van het verzoek aanpassing arbeidsduur": {
      "Comment": "pm verzoeken om aanpassing van de arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "mededelen van de beslissing op het verzoek verzoek aanpassing arbeidsduur": {
      "Comment": "st verzoeken om aanpassing van de arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "niet accepteren van de beslissing op verzoek aanpassing arbeidsduur": {
      "Comment": "rj verzoeken om aanpassing van de arbeidsduur",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "beslissen op het verzoek aanpassing arbeidsduur": {
      "Comment": "ex verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "stop met het doen van een verzoek aanpassing arbeidsduur": {
      "Comment": "sp verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "breek het indienen van het verzoek aanpassing arbeidsduur af": {
      "Comment": "qt verzoeken om aanpassing van de arbeidsduur",
      "Type": "Pass",
      "Next": ""
    },
    "accepteren van de beslissing op het verzoek aanpassing arbeidsduur": {
      "Comment": "ac verzoeken om aanpassing van de arbeidsduur",
      "Type": "Succeed",
      "End": true
    },
    "startT2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartStateMachine",
        "stateMachineArn": "arn:aws:states:us-east-1:123456789012:execution:T2"
      },
      "End": false,
      "Next": ""
    },
    "startT3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartStateMachine",
        "stateMachineArn": "arn:aws:states:us-east-1:123456789012:execution:T3"
      },
      "End": false,
      "Next": ""
    },
    "startT4": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "StartStateMachine",
        "stateMachineArn": "arn:aws:states:us-east-1:123456789012:execution:T4"
      },
      "End": false,
      "Next": ""
    }
  }
}