solutions/WAA/classes_gen/WAA/specifications/WAA.specifications transactionkind automatisch aanpassing overeenkomstig het verzoek.json
{
  "Comment": "Model of transactionkindautomatisch aanpassing overeenkomstig het verzoek",
  "StartAt": "initial indienen verzoek aanpassing arbeidsduur",
  "States": {
    "TrueChoiceFor request automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rq automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor decline automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "dc automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor state automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "st automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor reject automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rj automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor request automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rq automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor decline automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "dc automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor state automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "st automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor reject automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rj automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "request automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rq automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "decline automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "dc automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "state automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "st automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "reject automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "rj automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "promiss automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "pm automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "execute automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "ex automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Pass",
      "Next": ""
    },
    "accept automatisch aanpassing overeenkomstig het verzoek": {
      "Comment": "ac automatisch aanpassing overeenkomstig het verzoek",
      "Type": "Succeed",
      "End": true
    }
  }
}