solutions/WAA/classes_gen/WAA/specifications/WAA.specifications transactionkind wijzigen van de spreiding van de uren.json
{
  "Comment": "Model of transactionkindwijzigen van de spreiding van de uren",
  "StartAt": "initial indienen verzoek aanpassing arbeidsduur",
  "States": {
    "TrueChoiceFor request wijzigen van de spreiding van de uren": {
      "Comment": "rq wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor decline wijzigen van de spreiding van de uren": {
      "Comment": "dc wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor state wijzigen van de spreiding van de uren": {
      "Comment": "st wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "TrueChoiceFor reject wijzigen van de spreiding van de uren": {
      "Comment": "rj wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor request wijzigen van de spreiding van de uren": {
      "Comment": "rq wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor decline wijzigen van de spreiding van de uren": {
      "Comment": "dc wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor state wijzigen van de spreiding van de uren": {
      "Comment": "st wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "FalseChoiceFor reject wijzigen van de spreiding van de uren": {
      "Comment": "rj wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "request wijzigen van de spreiding van de uren": {
      "Comment": "rq wijzigen van de spreiding van de uren",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "decline wijzigen van de spreiding van de uren": {
      "Comment": "dc wijzigen van de spreiding van de uren",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "state wijzigen van de spreiding van de uren": {
      "Comment": "st wijzigen van de spreiding van de uren",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "reject wijzigen van de spreiding van de uren": {
      "Comment": "rj wijzigen van de spreiding van de uren",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$truthvalue",
          "BooleanEquals": false,
          "Next": ""
        },
        {
          "Variable": "$truthvalue",
          "StringEquals": true,
          "Next": ""
        }
      ]
    },
    "promiss wijzigen van de spreiding van de uren": {
      "Comment": "pm wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "execute wijzigen van de spreiding van de uren": {
      "Comment": "ex wijzigen van de spreiding van de uren",
      "Type": "Pass",
      "Next": ""
    },
    "accept wijzigen van de spreiding van de uren": {
      "Comment": "ac wijzigen van de spreiding van de uren",
      "Type": "Succeed",
      "End": true
    }
  }
}