languages/AWSStateMachine/sandbox/source_gen/AWSStateMachine/sandbox/ChoiceExample.json
{
  "Comment":"",
  "StartAt":"Choice example",
  "States":{
    "Choice example":{
      "Type":"Choice",
      "Choices":[
        {
          "Variable":"$.truthvalue",
          "BooleanEquals":false,
          "Next":"truthState"
        },
        {
          "Variable":"$.truthvalue",
          "StringEquals":"true",
          "Next":"falseState"
        }
      ]
    },
    "truthState":{
      "Type":"Pass",
      "Next":"End State"
    },
    "falseState":{
      "Type":"Pass",
      "Next":"End State"
    },
    "End State":{
      "Type":"Pass",
      "End":true
    }
  }
}